/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
# Trae AI 相关文件/目录（不推送）
.trae/
.trae-cn/
.trae_rules/
.trae-rules/
*.trae